#!/bin/bash
# 
# 运行：
# cp ./run.sh.example ./run.sh
# sudo ./run.sh
# 

#-----------------------------------
# ----- 配置目录  BEGIN ------------
#-----------------------------------

# 数据目录
data_path=/data/mongo

# 日志目录
logs_path=/var/log/mongo

#-----------------------------------
# ----- 配置目录  END --------------
#-----------------------------------

current_path=$(pwd)
if [ ! -f $current_path/conf/mongod.conf ]
then
    echo "ERROR: $current_path is error."
    exit 1
fi


docker stop ibbd-mongo 
docker rm ibbd-mongo 

docker run --name=ibbd-mongo -d \
    -p 27071:27071 \
    -v $data_path:/var/lib/mongodb \
    -v $logs_path:/var/log/mongodb \
    -v $current_path/conf/mongod.conf:/etc/mongod.conf.orig:ro \
    ibbd/mongo \
    mongod --smallfiles

docker ps

